$xsm: 320px;
$sm: 670px;
$mid: 895px;
$lg: 1070px;
$xl: 1400px;

@mixin query($size) {
  @media screen and (min-width: $size) {
    @content;
  }
}

@mixin for-extra-small {
  @media screen and (min-width: $xsm) {
    @content;
  }
}
@mixin for-small {
  @media screen and (min-width: $sm) {
    @content;
  }
}
@mixin for-medium {
  @media screen and (min-width: $sm) {
    @content;
  }
}
@mixin for-large {
  @media screen and (min-width: $lg) {
    @content;
  }
}
@mixin for-extra-large {
  @media screen and (min-width: $xl) {
    @content;
  }
}
