.dark-button,
.light-button {
  border: none;
  font-weight: bold;
  font-size: 18px;
  line-height: 13px;
  padding: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  cursor: pointer;
  min-height: 48px;
}

.dark-button {
  background-color: $blue-btn-color; 
  color: $white;
}

.light-button {
  background-color: $white;
  color: $blue-btn-color; 
}