.feedback-outer {
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.102);
}
.feedback {
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;

  @include for-large {
    align-items: center;
  }
  @include for-extra-large {
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 66px;
  }

  &__promo {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: $blue-links;
    margin-bottom: 29px;

    @include for-extra-large {
      margin-bottom: 28px;
    }
  }

  &__text {
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 32px;
    max-width: 750px;

    @include for-medium {
      margin-bottom: 62px;
    }

    @include for-large {
      text-align: center;
    }
    @include for-extra-large {
      margin-bottom: 34px;
    }
  }

  &__person {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 40px;

    @include for-large {
      text-align: center;
    }
    @include for-extra-large {
      margin-bottom: 38px;
    }

    &_name {
      font-weight: 700;
    }

    &_position {
      color: $light-grey-text;
    }
  }

  &__bullets {
    margin: 0 auto;
    margin-bottom: 40px;
    padding: 0;
    list-style: none;
    display: flex;
    width: 75px;
    justify-content: space-between;

    &_item {
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-color: #00000033;
      cursor: pointer;

      &.active {
        background-color: #3142c5;
      }
    }
  }

  &__img {
    display: block;
    max-width: 100%;
    margin: 0 auto;

    @include for-medium {
      max-width: 290px;
      position: absolute;
      right: 0;
      bottom: 0;
      width: 273px;
    }

    @include for-extra-large {
      right: -100px;
    }
  }
}