footer {
  position: relative;

  a {
    text-decoration: none;
  }
}

.footer {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 40px;
  padding-bottom: 22px;

  @include query(540px) {
    padding-top: 43px;
    padding-bottom: 15px;
  } 
  @include query(820px) {
    display: flex;
    flex-wrap: wrap;
  }
  @include for-extra-large {
    padding-left: 0;
    padding-right: 0;
  }

  &__about {

    @include query(540px) {
      margin-right: 126px;
    }
    
    &_logo {
      margin-bottom: 31px;
      
      @include query(540px) {
        margin-right: 25px;
      }
    }

    &_text {
      max-width: 360px;
      font-size: 18px;
      line-height: 26px;
      color: #2b292d99;
      display: none;
      margin-bottom: 25px;

      @include query(540px) {
        display: block;
      }
    }

    &_stores-btn {
      display: flex;
      justify-content: center;
      margin-bottom: 71px;

      @include query(540px) {
        justify-content: start;
        margin-bottom: 73px;
      }

      a {
        display: block;
        margin-right: 10px;
        height: fit-content;

        img {
          display: block;
        }
      }
    }
  }

  &__navigation {

    @include query(540px) {
      display: flex;
    }

    &_nav {
      margin-bottom: 30px;
      min-width: 212px;

      &:first-child {
        margin-right: 82px;
      }
  
      h3 {
        font-weight: bold;
        font-size: 22px;
        line-height: 28px;
        margin-bottom: 18px;
      }
  
      li a{
        font-size: 18px;
        line-height: 30px;
        color: #2b292d99;
      }
    }
  }

  &__additional {
    min-width: 100%;

    @include query(450px) {
      display: flex;
      justify-content: space-between;
    }

    &_links {
      display: flex;

      &:first-child {
        margin-bottom: 30px;

        @include query(450px) {
          margin-bottom: 0;
        }
      }

      li a{
        font-size: 14px;
        line-height: 22px;
        color: #2b292d99;
        margin-right: 20px;
      }
    }

    &_social {
      display: flex;
      align-items: center;

      li {
        margin-right: 20px;

        img {
          display: block;
          align-items: center;
        }
      }
    }
  }
}

.footer-devider {
  width:  100%;
  height: 1px;
  background-color: #E3E3E3;
  position: absolute;
  top: 282px;

  @include query(540px) {
    top: 339px;
  }
}