.logo {
  display: flex;
  align-items: center;
  cursor: pointer;

  &.header-logo {
    padding: 8px 0 8px 15px;

    @include for-medium {
      padding: 0;
    }
  }

  &.footer-logo {
    flex-direction: column;

    @include for-small {
      flex-direction: row;
    }
  }

  &__img {
    padding: 10px 14px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;

    &.footer-logo-img {
      margin-bottom: 20px;

      @include for-small {
        margin-bottom: 0;
      }
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 13px;

    &_header {
      font-weight: 700;
      font-size: 20px;
      line-height: 25px;

      &.footer-logo-header {
        text-align: center;

        @include for-small {
          text-align: left;
        }
      }
    }

    &_info {
      line-height: 25px;
      opacity: 0.6;

      &.header-logo-info {
        display: none;

        @include for-medium {
          display: block;
        }
      }
    }
  }
}
