$initial-font: 16px;
$side-padding: 15px;

$header-bg-color: #F3C6BD;
$about-bg-color: #F4F5F7;
$light-blue-bg: #00A1C612;

$dark-blue: #3141C5;
$blue-links: #3142c6;
$blue-btn-color: #3040C4;
$header-blue: #0189D1;


$white: #ffffff;
$black: #000000;
$green: #009B4D;
$text-color: #2B292D;
$light-grey-text: #2b292d99;

$border-light-grey: #E3E3E3;